/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700|Work+Sans:400,500,600,700,800');

*{
	box-sizing: border-box;
}

html{
	font-size: 17px;
}

body{
	margin: 0;
	font-family: OpenSans;
	color: #171717;
}

button{
	padding: 15px 25px;
	background: #000000;
	box-shadow: 0 10px 20px 0 rgba(82,82,82,0.25);
	border-radius: 2px;

	font-family: Oxygen-Regular;
	font-size: 16px;
	color: #FFFFFF;
}