/*INDEX*/
section{
	display: flex;
}

.projects{
	width: calc((100%/5)*2);
	box-sizing: border-box;
	/* display: flex;

    flex-wrap: wrap;
    flex-direction: column;
	align-items: flex-end; 
	
	padding: 50px 40px 0 0; */
}

.project{
	margin: 50px 0 0;
	opacity: 0.3;
}

.active{
	opacity: 1;
}

.project h2{
	margin: 0;

	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 34px;
	
	text-transform: uppercase;
	color:#171717;
	letter-spacing: 4px;
}

.project .subtitle{
	margin: 5px 0 0;

	font-family: 'Oxygen', sans-serif;
	font-size: 17px;

	color: #171717;
	letter-spacing: 0;
}

.visual{
	width: calc((100%/5)*3);
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

.visual img{
	width: 80%;
}

.circle{
	position: absolute;
	top: -50%;
	right: -50%;
	z-index: -1;

	width: 100%;
	height: 200%;

	border-radius: 50%;

	background-color:#CBF7ED;
}

.rs{
	position: absolute;
	bottom: 10px;
	left: 0;
}

.rs ul{
	display: flex;
	align-items: center;
	padding: 0;
	list-style: none;
}

.rs li{
	width: 15px;
	margin-left: 10px;
}

.rs li img{
	width: 100%;
}

.rs .bar{
	width: 30px;
	height: 2px;
	margin: 0;
	background-color: #171717;
}