<!DOCTYPE html>
<html>

<head>
	<?php include('template/head.php'); ?>
	<link rel="stylesheet" href="../css/general.css">
	<link rel="stylesheet" href="../css/project.css">
</head>

<body>
	<section id="hero">
		<div class="visual">
			<nav>
				<?php include('template/menu.php'); ?>
			</nav>
			<div class="mockup">
				<img src="../assets/img/mockup_front.png" alt="mockup">
			</div>
		</div>
		<div class="infos">
			<div class="container">
				<div class="column">
					<h1>Lorem</h1>
					<div class="subtitle">Redesign</div>
				</div>
				<div class="column">
					<p>Lick sellotape sit by the fire. Cat slap dog in face present belly, scratch hand when stroked but has closed eyes but still sees you or purr when being pet lick sellotape but small kitty warm kitty little balls of fur. </p>
				</div>
			</div>
		</div>
	</section>

	<section id="challenge">
		<div class="container">
			<div class="card">
				<h2>Challenge</h2>
				<div class="text">
					Try to jump onto window and fall while scratching at wall meow all night having their mate disturbing sleeping humans or chew iPad power cord soft kitty warm kitty little ball of furr and sit by the fire. Scratch the furniture hunt by meowing loudly at 5am to human slave food dispenser. Poop in the plant pot paw at beetle and eat it before it gets away lounge in doorway, steal the warm chair right after you get up. Yowling nonstop the whole night hopped up on catnip take a big fluffing crap 💩
				</div>
			</div>
			<div class="keywords">
				<div class="card">
					<div class="icon">
						<img src="../assets/icon/cross.svg" alt=""/>
					</div>
					<p>Lorem ipsum </p>
				</div>
				<div class="card">
					<div class="icon">
						<img src="../assets/icon/cross.svg" alt=""/>
					</div>
					<p>Lorem ipsum </p>
				</div>
				<div class="card">
					<div class="icon">
						<img src="../assets/icon/cross.svg" alt=""/>
					</div>
					<p>Lorem ipsum </p>
				</div>
		</div>
		

	</section>

	<section id="approach">
		<div class="container">
			<div class="card">
				<h2>Approche</h2>
				<div class="text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
				</div>
			</div>
			<div class="steps">
				<div class="step">
					<div class="icon">
						<img src="../assets/icon/cross.svg" alt="">
					</div>
					<p>step name</p>
				</div>
				<div class="step">
					<div class="icon">
						<img src="../assets/icon/cross.svg" alt="">
					</div>
					<p>step name</p>
				</div>
				<div class="step">
					<div class="icon">
						<img src="../assets/icon/cross.svg" alt="">
					</div>
					<p>step name</p>
				</div>
				<div class="step">
					<div class="icon">
						<img src="../assets/icon/cross.svg" alt="">
					</div>
					<p>step name</p>
				</div>
			</div>
		</div>

	</section>

	<section id="solution">
		<div class="container">
			<h2>Solution</h2>
			<div class="cards">
				<div class="card">
					<div class="icon">
						<img src="../assets/icon/cross.svg" alt=""/>
					</div>
					<div class="content">
						<h3>Titre</h3>
						<p>Nemo enim ipsam voluptatem voluptas aspernatur aut odit aut fugit. </p>
					</div>
				</div>
				<div class="card">
					<div class="icon">
						<img src="../assets/icon/cross.svg" alt=""/>
					</div>
					<div class="content">
						<h3>Titre</h3>
						<p>Nemo enim ipsam voluptatem voluptas aspernatur aut odit aut fugit. </p>
					</div>
				</div>
				<div class="card">
					<div class="icon">
						<img src="../assets/icon/cross.svg" alt=""/>
					</div>
					<div class="content">
						<h3>Titre</h3>
						<p>Nemo enim ipsam voluptatem voluptas aspernatur aut odit aut fugit. </p>
					</div>
				</div>
				<div class="card">
					<div class="icon">
						<img src="../assets/icon/cross.svg" alt=""/>
					</div>
					<div class="content">
						<h3>Titre</h3>
						<p>Nemo enim ipsam voluptatem voluptas aspernatur aut odit aut fugit. </p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="deliverable">
		<h2>Livrables</h2>
		<div class="container">
			<div class="infos">
				<div class="nav">
					<div class="icon">
						<img src="../assets/icon/chevron.svg" alt="">
					</div>
					<div class="numbers">
						<span class="active_number">1</span>|<span class="total_number">10</span>
					</div>
					<div class="icon">
						<img src="../assets/icon/chevron.svg" alt="">
					</div>
				</div>
				<h3>Sign in - Sign up</h3>
				<p class="text">Try to jump onto window and fall while scratching at wall meow all night</p>
			</div>
		</div>
		<div class="project_navigation">
				<div class="container">
					<a href="#" class="previous_button">
						<div class="step">
							<div class="icon">
								<img src="../assets/icon/arrow-left.svg" alt="">
							</div>
							<p>Previous</p>
						</div>
						<div class="project_title">
							Ipsum
						</div>
					</a>
					<a href="#" class="next_button">
						<div class="step">
							<p>Next</p>
							<div class="icon">
								<img src="../assets/icon/arrow-right.svg" alt="">
							</div>
						</div>
						<div class="project_title">
							Ipsum
						</div>
					</a>
				</div>
			</div>
	</section>

	
	
</body>

</html>
